.navbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 1000;
    box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.09);
    transition: transform 0.3s ease-in-out;
}

.inner-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(234, 137, 35);
}

button.toggle {
    background-color: #FFF;
    z-index: 999999999999999999999999999999999;
    position: fixed;
    outline: 0;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    top: 18px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

nav .inner-nav ul {
    padding: 0;
    position: relative;
    top: 100px;
    margin: 0;
    border-top: 1px solid #000;
}

nav .inner-nav li {
    list-style: none;
    cursor: pointer;
    line-height: 3;
    padding: 0 25px;
    margin-bottom: 0;
    border-bottom: 1px solid #000;
}

nav .inner-nav li p {
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;
    transition: .4s all ease-in-out;
}

nav .inner-nav li:hover p {
    color: #FFF;
}

.items-dropdown {
    color: pink;
    
}

.itens-ul {
    height: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    top: 0;
}
.itens-li {
   margin-top: -100px;
   height: 50px;
}

.navbar.open {
    transform: translateY(0);
}

a, p {
    color: #FFF;
}

.active {
    color: #000;
}

.active li {
    background-color: rgba(0, 0, 0, 0.158);
    font-weight: 600;
}